name: Test Laravel App

on:
  push:
    branches: ["ci-test"]

jobs:
  test-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Install dependencies
        run: composer install --no-interaction

      - name: Generate .env file
        run: |
          cat <<EOF > .env
          DB_CONNECTION=sqlite
          EOF

      - name: Run unit tests
        run: php artisan test
  
    
  
    
